$bg-color: #efeeee;
$border-color: #ffffff33;
$light: #fff;
$shadow: #d1cdc7;
$bar-bg: linear-gradient(125deg, #31ffde 0%, #5451ff 100%);
$bar-comparing-bg: linear-gradient(125deg, #fde62d 0%, #ff8a00 100%);
$bar-swapping-bg: linear-gradient(125deg, #ff61dc 0%, #e82727 78%);
$bar-sorted-bg: linear-gradient(125deg, #7ee8fa 0%, #2bb700d3 78%);

.bar-wrapper {
	position: relative;
	display: flex;
	margin: 0 3px;
	align-items: flex-end;
	min-width: 8px;
	max-width: 160px;
	height: 100%;
	background-color: $bg-color;
	border: 1px solid $border-color;
	border-radius: 1em;
	box-shadow: inset -3px -3px 8px $light, inset 3px 3px 8px $shadow;
	overflow: hidden;

	&.sorted {
		box-shadow: -6px -6px 16px $light, 6px 6px 16px $shadow;
	}
}

.bar {
	position: relative;
	display: flex;
	width: 100%;
	background: $bar-bg;
	border: 0;
	border-radius: 1em;
	color: white;
	font-size: 0.95em;
	font-weight: bold;
	justify-content: center;
	align-items: center;
	flex: 0 1 auto;
	transition: height 150ms ease-in;

	&.comparing {
		background: $bar-comparing-bg;
	}

	&.swapping {
		background: $bar-swapping-bg;
	}

	&.sorted {
		background: $bar-sorted-bg;
	}
}
