@import '../../neu';

$bg: linear-gradient(125deg, #31beff 0%, #5451ff 100%);
$bg-yellow: linear-gradient(125deg, #fde62d 0%, #ff8a00 100%);
$bg-red: linear-gradient(125deg, #ff61dc 0%, #e82727 78%);
$bg-purple: linear-gradient(125deg, #d261ff 0%, #8b27e8 78%);
$bg-sorted: linear-gradient(125deg, #65e770 0%, #2bb700d3 78%);

$hoffset: -3px;
$voffset: -3px;
$blur: 6px;

.bar-wrapper {
	position: relative;
	display: flex;
	margin: 0 3px;
	align-items: flex-end;
	min-width: 8px;
	max-width: 160px;
	height: 100%;
	border-radius: 1em;
	box-shadow: inset ($hoffset / 2) ($voffset / 2) ($blur / 2) $light,
		inset (-1 * ($hoffset / 2)) (-1 * ($voffset / 2)) ($blur / 2) $shadow, 0 0 0 $light,
		0 0 0 $shadow;
	overflow: hidden;
	transition: box-shadow 150ms ease;

	&.sorted {
		box-shadow: inset 0 0 0 $light, inset 0 0 0 $shadow,
			$hoffset $voffset $blur $light,
			(-1 * $hoffset) (-1 * $voffset) $blur $shadow;
	}
}

.bar {
	position: relative;
	display: flex;
	width: 100%;
	background: $bg;
	border: 0;
	border-radius: 1em;
	color: white;
	font-size: 0.95em;
	font-weight: bold;
	justify-content: center;
	align-items: center;
	flex: 0 1 auto;
	transition: height 150ms ease-in;

	&.yellow {
		background: $bg-yellow;
	}

	&.red {
		background: $bg-red;
	}

	&.purple {
		background: $bg-purple;
	}

	&.sorted {
		background: $bg-sorted;
	}
}
