@import '../../neu';

header {
	display: flex;
	margin: 2em 0;
	flex-wrap: wrap;
	justify-content: center;
}

.btn {
	@include neu(true);
	position: relative;
	display: inline-flex;
	padding: 0.4em 1.2em;
	margin: 0.6em;
	align-items: center;
	font-size: 1.1em;
	letter-spacing: 1px;
	text-align: center;
	border-radius: 1em;
	outline: none;

	&:hover {
		cursor: pointer;
	}
}
