$bg-color: #efeeee;
$border-color: #ffffff33;
$light: #fff;
$shadow: #d1cdc7;

$progress1: #7f00ff;
$progress2: #e100ff;

.progress-bar {
	display: inline-flex;
	position: relative;
	padding: 6px;
	width: 100%;
	min-width: 400px;
	height: 1.8em;
	background-color: $bg-color;
	border: 1px solid $border-color;
	border-radius: 1em;
	box-shadow: -6px -6px 16px $light, 6px 6px 16px $shadow;
	outline: none;
	user-select: none;
	overflow: hidden;
}

.progress {
	position: relative;
	height: 100%;
	border-radius: 1em;
	background: linear-gradient(to right, $progress1, $progress2);
	outline: none;
	user-select: none;
	transition: width 500ms ease;
}
