@import '../../neu';

$progress1: #7f00ff;
$progress2: #e100ff;

.progress-bar {
	@include neu();
	display: inline-flex;
	position: relative;
	padding: 6px;
	width: 85%;
	min-width: 400px;
	height: 90%;
	align-items: center;
	border-radius: 1em;
	user-select: none;
	overflow: hidden;
}

.progress-line {
	position: relative;
	height: 75%;
	border-radius: 1em;
	background: linear-gradient(to right, $progress1, $progress2);
	outline: none;
	user-select: none;
	transition: width 50ms ease;
}
