$white1: #fff;
$white2: #bbb;
$purple1: #7f00ff;
$purple2: #e100ff;

.progress-bar {
	position: relative;
	display: inline-block;
	margin: 1em;
	padding: 0 0.1em;
	width: 65%;
	height: 1.2em;
	border: 0.375em solid transparent;
	border-radius: 1em;
	background: rgba(255, 255, 255, 0.125);
	outline: none;
	user-select: none;
}

.progress-bar::after {
	content: '';
	position: absolute;
	bottom: -4px;
	left: 0%;
	height: 105%;
	width: 100%;
	opacity: 0.8;
	border-radius: 1em;
	background: #000;
	filter: blur(8px);
	transition: all 0.2s;
	z-index: -1;
}

.progress {
	position: relative;
	height: 100%;
	border-radius: 1em;
	background: linear-gradient(to right, $purple1, $purple2);
	outline: none;
	user-select: none;
}

.progress::after {
	content: '';
	position: absolute;
	z-index: -1;
	bottom: -4px;
	left: 0%;
	height: 105%;
	width: 100%;
	opacity: 0.8;
	border-radius: 1em;
	background: inherit;
	filter: blur(8px);
	transition: all 0.2s;
}
